ion-button {
    --background: #734f96;
}

ion-label {
    color: #734f96;
}

ion-segment-button {
    --color-checked: #734f96;
    --color-focused: #734f96;
    --color-hover: #734f96;
  }

.clickable {
    cursor: pointer;
}
  
  
