<!--header-->
<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<!--body-->
<ion-content>
<!--allow user to either login or register-->
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="login">
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button value="register"> 
      <ion-label>Register</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">

  <!--if user wants to register-->
    <form [formGroup]="registerFormGroup" (ngSubmit)="register()" *ngSwitchCase="'register'">
      <ion-item>
        <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [type]="isTextFieldType ? 'text' : 'password'" formControlName="password" placeholder="Password"></ion-input>
        <ion-icon class="clickable" (click)="togglePasswordFieldType()" [name]="isTextFieldType ? 'eye-off' : 'eye'"></ion-icon>
      </ion-item>
        <ion-button expand="full" (click)="register()" [disabled]="!registerFormGroup.valid">Register</ion-button>
    </form>

<!--if user wants to login-->
    <form [formGroup]="loginFormGroup" (ngSubmit)="login()" *ngSwitchDefault>
      <ion-item>
        <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [type]="isTextFieldType ? 'text' : 'password'" formControlName="password" placeholder="Password"></ion-input>
        <ion-icon class="clickable" (click)="togglePasswordFieldType()" [name]="isTextFieldType ? 'eye-off' : 'eye'"></ion-icon>
      </ion-item>
        <ion-button expand="full" (click)="login()" [disabled]="!loginFormGroup.valid">Login</ion-button>
    </form>

  </div>

</ion-content>
