<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <!--explore button in footer-->
      <ion-item lines="none">
      <ion-button>
        <a routerLink="/home" routerLinkActive="active" style="text-decoration: none;">
          <ion-icon class="icon font" name="fast-food-outline"></ion-icon>
          <ion-label class="font">Explore</ion-label>
        </a>
      </ion-button>
    </ion-item>
    <!--favorites button in footer-->
    <ion-item lines="none">
      <ion-button>
        <a routerLink="/favorites" routerLinkActive="active" style="text-decoration: none;">
          <ion-icon class="icon font" name="star-outline"></ion-icon>
          <ion-label class="font">Favorites</ion-label>
        </a>
      </ion-button>
    </ion-item>
    </ion-buttons>
  </ion-toolbar>
 </ion-footer>
