<!--header-->
<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button menu="first"></ion-menu-button>
      <ion-title>Favorites</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--if the user doesn't have any favorites-->
<ion-content>
  <ng-container *ngIf="(favorites | async)?.length == 0">
    <ion-item>
      <h2 class="message">You don't have any favorites right now. Check out the explore page to add some.</h2>
    </ion-item>
  </ng-container>

<!--display the user's favorites-->
  <ion-grid>
    <ion-row>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="12" *ngFor="let business of favorites | async">
        <ion-card>
          <!--reroute the user to the menu page-->
          <ion-list class="clickable" [routerLink]="['/menu', business.uid]" routerLinkActive="active" style="text-decoration: none;">
            <ion-img [src]="business.image"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>{{business.type}}</ion-card-subtitle>
              <ion-card-title>{{business.name}}</ion-card-title>
            </ion-card-header>
          </ion-list>
          <!--button to favorite restaurant-->
          <ion-button class="buttonStyle" expand="full" (click)="toggleFavorite(business)">
            <ion-icon name="star"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>