<!--header-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button menu="first"></ion-menu-button>
      <ion-title> {{ ( business | async)?.name }}'s Menu</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--display menu items-->
<ion-content>
  <ion-list *ngFor="let item of menu | async">
    <ion-item>
      <ion-label text-wrap>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
      <h3>{{ item.price }}</h3>
    </ion-item>

  </ion-list>
   
</ion-content>

<app-footer></app-footer>